.login-form{
    -fx-background-color: linear-gradient(to bottom left, #8a0077, #9d0062, #380936);
}

.nav-bar{
    -fx-background-color: linear-gradient(to bottom right,#f87cb0, #d60f69, #bf266c);
}


.function-form{
    -fx-background-color: #f6f4ff;
}

.main-btn{
    -fx-background-color:linear-gradient(to bottom, #9c0d4e,#380936);
    -fx-background-radius:10px, 10px, 10px, 10px;
    -fx-cursor:hand;
}

.main-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #9e285e,#6f0c6b);
}

.pink-button{
    -fx-background-color: #FF1145;
    -fx-background-radius: 100;
}

.purple-button{
    -fx-background-color: #491045;
    -fx-background-radius: 100;
}

.transparent-button{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #FFFFFF;
    -fx-border-radius: 100;
}

.shadow{
    -fx-effect: dropShadow(one-pass-box,rgba(0,0,0,0.3), 10.0 , 0.0 , 0.0, 10.0);
}

.shadow2{
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}


.lable-view{
    -fx-background-color: #ffffff;
    -fx-background-radius:10px, 10px, 10px, 10px;
}
